# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List popular libraries for Data Science
+ List popular tools for Data Science
+ Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia (JuliaDB)
8. JavaScript (TensorFlow.js, R-js)
9. PHP
10. Go
11. Ruby
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Seaborn
6. Scikit-learn
7. Keras
8. TensorFlow
9. PyTorch
10. Weka
11. Java-ML
12. Apache MLlib,Spark
13. Deeplearning4
14. Vegas
15. Big DL
16. ggplot2

| Data Science Tools |
| ------------- |
| Jupyter notebooks |
| Jupyter Lab |
| Apache Zeppelin |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Sree Ram Avinash Maddikonda